* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 22%, rgba(123,123,181,1) 59%, rgba(0,212,255,1) 100%);}

#info,
#headline {
    text-align: center;
    padding: 10px;
    color: #000000;
}

#tip-calculator {
    background-color: rgb(211, 207, 207);
    width: 450px;
    padding: 40px;
    border-radius: 10px;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-label {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
}
